.rdw-suggestion-wrapper {
  position: relative;
}
.rdw-suggestion-dropdown {
  position: absolute;
  display: flex;
  flex-direction: column;
  min-width: 100px;
  max-height: 200px;
  overflow: auto;
  background-color: rgb(255, 255, 255);
  z-index: 100;
  padding: 8px 0;
  border-radius: 12px;
  box-shadow: rgba(31, 35, 40, 0.12) 0px 1px 3px,
    rgba(66, 74, 83, 0.12) 0px 8px 24px;
}
.rdw-suggestion-option {
  padding: 6px 8px;
  margin: 0 8px;
  font-size: 14px;
  line-height: 20px;
  color: rgb(31, 35, 40);
  cursor: pointer;
  border-radius: 6px;
}
.rdw-suggestion-option-active,
.rdw-suggestion-option:hover {
  background-color: rgba(208, 215, 222, 0.24);
}
